# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\HOCTAPFPT\Hoc_Tap_FPT\semester5\Block1\SOF3022-Java5\SP25-SOF3022-SD19307-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
